header
{
    display: flex;
    height: 15vh;
    min-height: 10vh;
    width: 100vw;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    top: 0; /* Fixa o footer na parte inferior da página */
    max-width: 100%; /* Largura total da página */
}


.Logo.Icon
{
    display: flex;
    max-width: 20%;
    margin-right: 5%;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

.Logo.Icon .Clinik
{
    height: 100%;
    object-fit: fill;
}

.Logo.Icon .Linhas
{
    height: 80%;
}

.Logo.nomeSlogan
{
    max-width: 75%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    align-items: center;
}

.Logo.nomeSlogan .Nome
{
    object-fit: fill;
    width: 65%;
    min-height: 65%;
    max-height: 65%;
}

.Logo.nomeSlogan .Slogan
{
    color: #3C9FAC;
    margin: 0 auto;
    min-height: 30%;
    max-height: 30%;
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 100%;
}
@media only screen and (max-width: 420px) {
    .Logo.nomeSlogan{
        width: 1100px;
        height: 90px;
        align-items: center;
        margin-left: 15%;
    }
    .Logo.Icon{
        display: none;
    }

}

@media only screen and (max-width: 600px) {

    .Nome{
        margin-right: 1vw;
    }
    .Slogan{
        display: none !important;
    }


    .Logo.Icon 
    {
        height: 80%;
        width: 80%;
        margin-left: 2px;   
    }
    .Logo.nomeSlogan
    {
        width: 200%;
        margin-right: 10vw;
        margin-top: 4vh;
    }
}