/* Reset de estilos padrão do navegador */
body, ul {
    margin: 0;
    padding: 0;
}

/**inicio do estilo do main**/
main
{
    background-image: url(../Imagens/Background.png);
    height: 70vh;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLogin
{
    height: 65%;
    width: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    box-shadow: 0 0 20px 0 #3C9FAC;
    border-radius:  10px;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.Titulo
{
    height: 15%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

.Text
{
    margin-left: 5%;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #3C9FAC;
}

.Input
{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .formLogin
    {
        width: 60%;
    }
}

/**inicio do estilo do botão de logar**/
.formLogin button
{
    border: none;
}

.formLogin .btn 
{  
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 80%;
    cursor: pointer;
    margin-bottom: 2%;
}

.formLogin .btn-one 
{
    font-family: fantasy;
    color: #050505;
    transition: all 0.3s;
    position: relative;
}
  
.formLogin .btn-one span 
{
    transition: all 0.3s;
}

.formLogin .btn-one::before 
{
    border-radius: 10px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: solid 1px rgba(60, 159, 172, 0.5);
    transform: scale(0.1, 1);
}
  
.formLogin .btn-one:hover span 
{
    letter-spacing: 2px;
    color: #3C9FAC;
}
  
.formLogin .btn-one:hover::before 
{
    opacity: 1; 
    transform: scale(1, 1); 
    
}
  
.formLogin .btn-one::after 
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(60, 159, 172, 0.5);
    border-radius: 10px
}
  
.formLogin .btn-one:hover::after 
{
    opacity: 0; 
    transform: scale(0.1, 1);
}
/**fim do estilo do botão de logar**/
/**fim do estilo do main**/

/**inicio do estilo do footer**/
footer
{
    height: 15vh;
    display: flex;
    justify-content: center;
    position: fixed; /* Alteração para "fixed" */
    bottom: 0; /* Fixa o footer na parte inferior da página */
    width: 100%; /* Largura total da página */
    background-color: aliceblue; /* Cor de fundo opcional */
}

/**fim do estilo do footer**/
.text user{
    display: flex;
    flex-direction: column;
}
.Logo.Icon{
    align-items: center;
    justify-content: center;
}