 /* Reset de estilos padrão do navegador */
 body, ul {
    margin: 0;
    padding: 0;
}

/**inicio do estilo do main**/
main
{
    flex-direction: column;
    background-image: url(../Imagens/MinBackground5.jpg);
    height: 75vh;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.conteudoMenuPrincipal
{
    min-height: 85%;
    max-height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerConteudo
{
    max-height: 80%;
    padding: 1%;
    width: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    box-shadow: 0 0 20px 0 #3C9FAC;
    border-radius:  10px;
    justify-content: space-around;
    overflow: hidden; /* Adiciona overflow: hidden para evitar a barra de rolagem */
    flex-wrap: wrap; /* Permite que a div cresça conforme necessário */
}

.containerConteudo h2,
.containerConteudo p,
.containerConteudo .dados
{
    max-height: 100%; /* Define uma altura máxima para os elementos internos */
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse a altura máxima */
}
/**fim do estilo do main**/