 /* Reset de estilos padrão do navegador */
 body, ul {
    margin: 0;
    padding: 0;
}

/**inicio do estilo do main**/
main
{
    flex-direction: column;
    background-image: url(../Imagens/MinBackground5.jpg);
    height: 75vh;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}

.conteudoMenuPrincipal
{
    min-height: 80%;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divBoasVindas
{
    text-align: center;
    max-height: 20%;
    height: fit-content;
    max-width: 90%;
    width: 50%;
    background-color: aliceblue;
    box-shadow: 0 0 20px 0 #3C9FAC;
    border-radius:  10px;
    padding: 20px;
    margin-top: 20px;
}

.divBoasVindas h2
{
    margin: 0;
}

.divContainer
{
    display: flex;
    flex-direction: row;
    max-height: 80%;
    height: 65%;
    margin-top: 20px;
    width: 65%;
    justify-content: center;
}

.divAtendimentos
{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0 0 20px 0 #3C9FAC;
    border-radius:  10px;
    padding: 10px;
    margin-right: 30px;
    justify-content: center;
}

.btnAtendimentosImg
{
    height: 50px;
    width: 50px;
    object-fit: fill;
}

.divAtualizacoes
{
    width: 69%;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0 0 20px 0 #3C9FAC;
    border-radius:  10px;
    padding: 10px;
    overflow-y: auto;
}
.divAtualizacoes ul
{
    list-style: none;
}

.divAtualizacoes h3
{
    color: #187fe7;
    font-weight: bolder;
}

@media only screen and (max-width: 900px){
    .divBoasVindas
    {
        max-height: 40%;
        width: 70%;
    }

    .divContainer
    {
        max-height: 60%;
        width: 75%;
        font-size: larger;
    }
    .divAtualizacoes
    {
        width: 66%;
        font-size: larger;
    }
    .divAtendimentos
    {
        font-size: larger;
        width: 33%;
    }
}

@media only screen and (max-width: 760px){
    .divBoasVindas
    {
        max-height: 40%;
        width: 85%;
    }

    .divContainer
    {
        max-height: 60%;
        width: 95%;
        font-size: larger;
    }
    .divAtualizacoes
    {
        width: 66%;
        font-size: larger;
    }
    .divAtendimentos
    {
        font-size: larger;
        width: 33%;
    }
}